.catalog {
    min-height: calc(100vh - 48px - 50px);
    display: flex;
    flex-direction: column;
}
.card {
    margin: 12px;
    padding: 2%;
    min-height: 100px;
    background-color: #fff;
}
.info > h1 {
    color: #2f2f2f;
}
.info > h2 {
    color: #767676;
}

.catalog h1 {
    font-size: 1.3em;
}

.catalog h2 {
    font-size: 0.8em;
}

.catalog p {
    margin: 1.3em 0;
    color: #2f2f2f;
}

.catalog h1:hover, .catalog p:hover {
    text-decoration: underline;
}

.post h1 {
    font-size: 1.8em;
}

.post h2 {
    font-size: 0.8em;
}

.post .content {
    margin: 1.3em 0;
}

.post figure {
    display: block;
    max-width: 900px;
    width: 100%;
    margin: 2%;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 12px;
    padding: 2%;
}

.pagination a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    z-index: 10;
}

.pagination button {
    cursor: pointer;
    font-size: 0.8em;
    width: 120px;
    height: 40px;
    outline: none;
    color: #fff;
    background-color: #1976D2;
    border: none;
    display: inline-block;
}

.pagination button:hover {
    background-color: #1565C0;
    text-decoration: underline;
}

.pagination button:active {
}

.previous:after {
    content: "";
    position: absolute;
    display: block;
    width: 2em;
    height: 40px;
    background-image: url('/icons/left.png');
    background-size: 100%;
}

.next:after {
    content: "";
    position: absolute;
    width: 2em;
    height: 40px;
    background-image: url('/icons/right.png');
    background-size: 100%;
}
