    <header>
        <button id="menu-toggle">
            <i></i>
        </button>
        <div id="blank"></div>
        <nav id="menu">
            <a href="{{ site.baseurl }}/">
                <h2>{{ site.title }}</h2>
            </a>
            <a href="https://wzhang.me">
                <button class="menu-item">
                About
                </button>
            </a>
            <a href="{{ site.baseurl }}/">
                <button class="menu-item">
                Posts
                </button>
            </a>
        </nav>
    </header>
